<footer>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-4">
				<%= image_tag 'footer-logo.png' %>
			</div>
			<div class="col-xs-12 col-md-8">
				<ul>
					<li><%= link_to 'locations', '#map_canvas', :class=>'scroll-on-page-link' %></li>
					<li><%= link_to '#teamcardcity', '#card-city', :class=>'scroll-on-page-link' %></li>
					<li><%= link_to 'about', '#about', :class=>'scroll-on-page-link' %></li>
					<li><%= link_to 'Contact', '#contact', :class=>'scroll-on-page-link' %></li>
				</ul>
			</div>
		</div>
	</div>
</footer>