<nav>
	<div class="container">
		<% link_to '/', :class=>'site-id' do %>
			<%= image_tag 'logo.png' %>
		<% end %>

		<i id="toggle" class="fa fa-bars"></i>
		<ul>
			<li><%= link_to 'locations', '#locations' %></li>
			<li><%= link_to '#teamcardcity', '#card-city' %></li>
			<li><%= link_to 'about', '#about' %></li>
			<li><%= link_to 'Contact', '#contact' %></li>
			<li><%= link_to 'Find your Location', '#locations' %></li>
		</ul>
	</div>
</nav>