---
title: Card City
---

<div class="l-splash">
	<div class="container">
		<div class="controls">
			<h5>at card city</h5>
			<h1>Your cards are your cash</h1>
			<div class="play">Watch the video</div>
		</div>
		<video autoplay loop>
		  <source src="/videos/splash.mp4" type="video/mp4">
			I'm sorry our browser does not support this video format.
		</video>
	</div>
</div>

<div class="padding-md l-offer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<%= image_tag 'http://placehold.it/1000x500' %>
			</div>
			<div class="col-xs-12 col-sm-3">
				<%= image_tag 'http://placehold.it/500x500' %>
			</div>
			<div class="col-xs-12 col-sm-3">
				<%= image_tag 'http://placehold.it/500x500' %>
			</div>
		</div>
	</div>
</div>


<div id="map_canvas"></div>

<div class="margin-xl">
	<div class="container">
		Locations go here
	</div>
</div>

<div class="margin-xl l-team">
	<div class="container">
    <h2>We're proud of #TEAMCARDCITY</h2>
		<div class="row">
      <div class="col-xs-12 col-md-3">
        <%= image_tag 'http://placehold.it/500x500' %>
        <h5>Daniel Valdivia</h5>
        <p>el chapulin</p>
      </div>
      <div class="col-xs-12 col-md-3">
        <%= image_tag 'http://placehold.it/500x500' %>
        <h5>Foshawn</h5>
        <p>flamespitter</p>
      </div>
      <div class="col-xs-12 col-md-3">
        <%= image_tag 'http://placehold.it/500x500' %>
        <h5>Jose Ramirez</h5>
        <p>olympian</p>
      </div>
      <div class="col-xs-12 col-md-3">
        <%= image_tag 'http://placehold.it/500x500' %>
        <h5>DJ K Rich</h5>
        <p>On the 1's &amp; 2's</p>
      </div>
		</div>
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <%= image_tag 'http://placehold.it/500x500' %>
        <h5>Daniel Valdivia</h5>
        <p>el chapulin</p>
      </div>
      <div class="col-xs-12 col-md-3">
        <%= image_tag 'http://placehold.it/500x500' %>
        <h5>Foshawn</h5>
        <p>flamespitter</p>
      </div>
      <div class="col-xs-12 col-md-3">
        <%= image_tag 'http://placehold.it/500x500' %>
        <h5>Jose Ramirez</h5>
        <p>olympian</p>
      </div>
      <div class="col-xs-12 col-md-3">
        <%= image_tag 'http://placehold.it/500x500' %>
        <h5>DJ K Rich</h5>
        <p>On the 1's &amp; 2's</p>
      </div>
    </div>
	</div>
</div> 

<div class="l-hero">
  <div class="container">
    <h2>Liberating the value of gift cards into cold hard cash!</h2>
  </div>
</div>
<div class="padding-md">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-5 col-lg-offset-1">
        <p>
          Our mission is simple. We’re founded upon the principal that it shouldn’t be dicult to free up the value of your unwanted gi cards so you can spend your cash where you want, when you want. It’s that simple.
        </p>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-5">
        <p>
          We value customer service and strive to make your experience with us as simple as possible. We love the communities we serve and we’re proud to support personalities, athletes an organizations that showcase the best California has to offer.
        </p>
      </div>
    </div>
    <div class="u-divider"></div>
    <div class="row l-about-steps">
      <div class="col-xs-12 col-md-3">
        <h2>It's easy!</h2>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="image-container">
          <%= image_tag 'http://placehold.it/500x500' %>
        </div>
        <h5>Visit Cardcity</h5>
        <p>Find your nearest Cardcity location</p>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="image-container">
          <%= image_tag 'http://placehold.it/500x500' %>
        </div>
        <h5>Verify your identity</h5>
        <p>Be sure to bring a valid photo ID</p>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="image-container">
          <%= image_tag 'http://placehold.it/500x500' %>
        </div>
        <h5>Receive cash instantly</h5>
        <p>We’ll give you cash for your cards on the spot</p>
      </div>
    </div>
    <div class="u-divider"></div>
    <h2 class="u-heading">Cardcity wasn’t built in a day</h2>
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <p>
          Since we were founded in 2012, we’ve taken our mission of helping our Cardcitizens free up their unused gi card values seriously. We’ve grown beyond our humble beginnings in Fresno to 11 locations throughout California (with more on the way). Along the way, we’ve learned a lot about how to best serve our customers to make converting your gi cards to cash as convenient a process as possible.
        </p>
      </div>
    </div>
    <div class="u-divider"></div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <h3>Commited to the community</h3>
        <p>
          We know we wouldn’t exist without support from the communities we serve so we’re active participants in doing what we can to make the areas we serve vibrant and healthy.
        </p>
      </div>
      <div class="col-xs-12 col-md-8 l-about-logos">
        <div class="row">
          <div class="col-xs-6 col-md-3">
            <%= image_tag 'http://placehold.it/250x250' %>
            <p>logo</p>
          </div>
          <div class="col-xs-6 col-md-3">
            <%= image_tag 'http://placehold.it/250x250' %>
            <p>logo</p>
          </div>
          <div class="col-xs-6 col-md-3">
            <%= image_tag 'http://placehold.it/250x250' %>
            <p>logo</p>
          </div>
          <div class="col-xs-6 col-md-3">
            <%= image_tag 'http://placehold.it/250x250' %>
            <p>logo</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-md-3">
            <%= image_tag 'http://placehold.it/250x250' %>
            <p>logo</p>
          </div>
          <div class="col-xs-6 col-md-3">
            <%= image_tag 'http://placehold.it/250x250' %>
            <p>logo</p>
          </div>
          <div class="col-xs-6 col-md-3">
            <%= image_tag 'http://placehold.it/250x250' %>
            <p>logo</p>
          </div>
          <div class="col-xs-6 col-md-3">
            <%= image_tag 'http://placehold.it/250x250' %>
            <p>logo</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="l-hero">
  <div class="container">
    <h2>Connect with us</h2>
  </div>
</div>

<div class="container padding-md">
  <div class="row">
    <div class="col-xs-12 col-md-8">
    </div>
    <div class="col-xs-12 col-md-4 l-contact">
      <%= image_tag 'colored-logo.png' %>

      <h5>MAIL</h5>
      <p>
        Po Box xxx<br>
        Fresno, Ca 93702
      </p>
      <h5>CALL US</h5>
      <p>
        1 (800) xxx-xxxx
      </p>
    </div>
  </div>
</div>

<!--
Add the code below to the bottom of your page, just before the closing </body> tag.
Edit myLatlng and the other variables.

Find syntax for Features that can be styled here:
https://developers.google.com/maps/documentation/javascript/reference#MapTypeStyleFeatureType

Or use a service such as:

http://software.stadtwerk.org/google_maps_colorizr/#
http://gmaps-samples-v3.googlecode.com/svn/trunk/styledmaps/wizard/index.html
https://developers.google.com/maps/documentation/javascript/tutorial
-->

<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
  var bittersMap = (function () {
    var myLatlng = new google.maps.LatLng(59.342457, 18.057340),
        mapCenter = new google.maps.LatLng(59.340458, 18.057340),
        mapCanvas = document.getElementById('map_canvas'),
        mapOptions = {
          center: mapCenter,
          zoom: 13,
          scrollwheel: false,
          draggable: true,
          disableDefaultUI: true,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        },
        map = new google.maps.Map(mapCanvas, mapOptions),
        contentString =
          '<div id="content">'+
          '<div id="siteNotice">'+
          '</div>'+
          '<h1 id="firstHeading" class="firstHeading">thoughtbot</h1>'+
          '<div id="bodyContent"'+
          '<p>Sveavägen 98</p>'+
          '</div>'+
          '</div>',
        infowindow = new google.maps.InfoWindow({
          content: contentString,
          maxWidth: 300
        }),
        marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
          title: 'thoughtbot (Sweden)'
        });

    return {
      init: function () {
        map.set('styles', [{
          featureType: 'landscape',
          elementType: 'geometry',
          stylers: [
            { hue: '#ffff00' },
            { saturation: 30 },
            { lightness: 10}
          ]}
        ]);

        google.maps.event.addListener(marker, 'click', function () {
          infowindow.open(map,marker);
        });
      }
    };
  }());

  bittersMap.init();
</script>


