---
title: Card City
---

<div class="l-splash" id="splash">
	<div class="container">
		<div class="controls">
			<h5>at card city</h5>
			<h1>Your cards are your cash</h1>
			<div class="play">Watch the video</div>
		</div>
		<video autoplay loop>
		  <source src="videos/splash.mp4" type="video/mp4">
			I'm sorry our browser does not support this video format.
		</video>
	</div>
</div>

<div class="padding-md l-offer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<%= image_tag 'http://placehold.it/1000x500' %>
        <h5>Find your Location</h5>
			</div>
			<div class="col-xs-12 col-sm-3">
				<%= image_tag 'http://placehold.it/500x500' %>
        <h5>Enter to win</h5>
			</div>
			<div class="col-xs-12 col-sm-3">
				<%= image_tag 'http://placehold.it/500x500' %>
        <h5>Enter to win</h5>
			</div>
		</div>
	</div>
</div>


<div id="map_canvas"></div>

<div class="margin-md">
	<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="u-heading">Find your nearest Card City</h2>
      </div>
    </div>
		<div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 u-mobile-text-center">
        <h2 class="margin-none u-mobile-hidden">Select Area:</h2>
        <ul id="ezt-1" class="ezt-nav l-location-nav">
          <li>
            <a href="javascript:void(0);" class="ezt-active">
              <span class="label">CENTRAL CALIFORNIA</span>
              <span>Bakersfield</span>
              <span>Fresno</span>
              <span>Madera</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <span class="label">BAY AREA</span>
              <span>Concord</span>
              <span>San Jose</span>
              <span>Richmond</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <span class="label">SOUTHERN CALIFORNIA</span>
              <span>Carson</span>
              <span>Corona</span>
              <span>Northridge</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <span class="label">NORTHERN CALIFORNIA</span>
              <span>Elk Grove</span>
              <span>Eureka</span>
              <span>Sacramento</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-8">
        <div id="ezt-1" class="l-location-content">
          <section class="ezt-content ezt-active">
            <h2>Central California</h2>
            <h4>Bakersfield</h4>
            <p>
              408 South Mt. Shasta Blvd Mt. Bakersfield, CA, 96067 661-926-6337
            </p>
            <h4>Fresno</h4>
            <p>
              408 South Mt. Shasta Blvd Mt. Bakersfield, CA, 96067 661-926-6337
            </p>
            <p>
              408 South Mt. Shasta Blvd Mt. Bakersfield, CA, 96067 661-926-6337
            </p>
            <p>
              408 South Mt. Shasta Blvd Mt. Bakersfield, CA, 96067 661-926-6337
            </p>
            <h4>Madera</h4>
            <p>
              408 South Mt. Shasta Blvd Mt. Bakersfield, CA, 96067 661-926-6337
            </p>
          </section>

          <section class="ezt-content">
            <h2>Bay Area</h2>
            <h4>Concord</h4>
            <p>
              408 South Mt. Shasta Blvd Mt. Bakersfield, CA, 96067 661-926-6337
            </p>
            <p>
              408 South Mt. Shasta Blvd Mt. Bakersfield, CA, 96067 661-926-6337
            </p>
            <h4>San Jose</h4>
            <p>
              408 South Mt. Shasta Blvd Mt. Bakersfield, CA, 96067 661-926-6337
            </p>
            <h4>Richmond</h4>
            <p>
              408 South Mt. Shasta Blvd Mt. Bakersfield, CA, 96067 661-926-6337
            </p>
            <p>
              408 South Mt. Shasta Blvd Mt. Bakersfield, CA, 96067 661-926-6337
            </p>
          </section>

          <section class="ezt-content">
            <h2>Southern California</h2>
            <h4>Carson</h4>
            <p>
              408 South Mt. Shasta Blvd Mt. Bakersfield, CA, 96067 661-926-6337
            </p>
            <p>
              408 South Mt. Shasta Blvd Mt. Bakersfield, CA, 96067 661-926-6337
            </p>
            <p>
              408 South Mt. Shasta Blvd Mt. Bakersfield, CA, 96067 661-926-6337
            </p>
            <h4>Corona</h4>
            <p>
              408 South Mt. Shasta Blvd Mt. Bakersfield, CA, 96067 661-926-6337
            </p>
            <h4>Northridge</h4>
            <p>
              408 South Mt. Shasta Blvd Mt. Bakersfield, CA, 96067 661-926-6337
            </p>
            <p>
              408 South Mt. Shasta Blvd Mt. Bakersfield, CA, 96067 661-926-6337
            </p>
          </section>
          <section class="ezt-content">
            <h2>Northern California</h2>
            <h4>Elk Grove</h4>
            <p>
              408 South Mt. Shasta Blvd Mt. Bakersfield, CA, 96067 661-926-6337
            </p>
            <h4>Eurika</h4>
            <p>
              408 South Mt. Shasta Blvd Mt. Bakersfield, CA, 96067 661-926-6337
            </p>
            <p>
              408 South Mt. Shasta Blvd Mt. Bakersfield, CA, 96067 661-926-6337
            </p>
            <h4>Sacramento</h4>
            <p>
              408 South Mt. Shasta Blvd Mt. Bakersfield, CA, 96067 661-926-6337
            </p>
            <p>
              408 South Mt. Shasta Blvd Mt. Bakersfield, CA, 96067 661-926-6337
            </p>
          </section>
        </div>
      </div>
    </div>
	</div>
</div>

<div class="container">
  <div class="u-divider"></div>
</div>

<div class="margin-md l-team" id="card-city">
	<div class="container">
    <h2>We're proud of #TEAMCARDCITY</h2>
		<div class="row">
      <div class="col-xs-12 col-md-3">
        <%= image_tag 'http://placehold.it/500x500' %>
        <h5>Daniel Valdivia</h5>
        <p>el chapulin</p>
      </div>
      <div class="col-xs-12 col-md-3">
        <%= image_tag 'http://placehold.it/500x500' %>
        <h5>Foshawn</h5>
        <p>flamespitter</p>
      </div>
      <div class="col-xs-12 col-md-3">
        <%= image_tag 'http://placehold.it/500x500' %>
        <h5>Jose Ramirez</h5>
        <p>olympian</p>
      </div>
      <div class="col-xs-12 col-md-3">
        <%= image_tag 'http://placehold.it/500x500' %>
        <h5>DJ K Rich</h5>
        <p>On the 1's &amp; 2's</p>
      </div>
		</div>
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <%= image_tag 'http://placehold.it/500x500' %>
        <h5>Daniel Valdivia</h5>
        <p>el chapulin</p>
      </div>
      <div class="col-xs-12 col-md-3">
        <%= image_tag 'http://placehold.it/500x500' %>
        <h5>Foshawn</h5>
        <p>flamespitter</p>
      </div>
      <div class="col-xs-12 col-md-3">
        <%= image_tag 'http://placehold.it/500x500' %>
        <h5>Jose Ramirez</h5>
        <p>olympian</p>
      </div>
      <div class="col-xs-12 col-md-3">
        <%= image_tag 'http://placehold.it/500x500' %>
        <h5>DJ K Rich</h5>
        <p>On the 1's &amp; 2's</p>
      </div>
    </div>
	</div>
</div> 

<div id="about" class="l-hero">
  <div class="container">
    <h2>Liberating the value of gift cards into cold hard cash!</h2>
  </div>
</div>
<div class="padding-md">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-5 col-lg-offset-1">
        <p>
          Our mission is simple. We’re founded upon the principal that it shouldn’t be dicult to free up the value of your unwanted gi cards so you can spend your cash where you want, when you want. It’s that simple.
        </p>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-5">
        <p>
          We value customer service and strive to make your experience with us as simple as possible. We love the communities we serve and we’re proud to support personalities, athletes an organizations that showcase the best California has to offer.
        </p>
      </div>
    </div>
    <div class="u-divider"></div>
    <div class="row l-about-steps">
      <div class="col-xs-12 col-md-3">
        <h2>It's easy!</h2>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="image-container">
          <%= image_tag 'http://placehold.it/500x500' %>
        </div>
        <h5>Visit Cardcity</h5>
        <p>Find your nearest Cardcity location</p>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="image-container">
          <%= image_tag 'http://placehold.it/500x500' %>
        </div>
        <h5>Verify your identity</h5>
        <p>Be sure to bring a valid photo ID</p>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="image-container">
          <%= image_tag 'http://placehold.it/500x500' %>
        </div>
        <h5>Receive cash instantly</h5>
        <p>We’ll give you cash for your cards on the spot</p>
      </div>
    </div>
    <div class="u-divider"></div>
    <h2 class="u-heading">Cardcity wasn’t built in a day</h2>
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <p>
          Since we were founded in 2012, we’ve taken our mission of helping our Cardcitizens free up their unused gi card values seriously. We’ve grown beyond our humble beginnings in Fresno to 11 locations throughout California (with more on the way). Along the way, we’ve learned a lot about how to best serve our customers to make converting your gi cards to cash as convenient a process as possible.
        </p>
      </div>
    </div>
    <div class="u-divider"></div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <h3>Commited to the community</h3>
        <p>
          We know we wouldn’t exist without support from the communities we serve so we’re active participants in doing what we can to make the areas we serve vibrant and healthy.
        </p>
      </div>
      <div class="col-xs-12 col-md-8 l-about-logos">
        <div class="row">
          <div class="col-xs-6 col-md-3">
            <%= image_tag 'http://placehold.it/250x250' %>
            <p>logo</p>
          </div>
          <div class="col-xs-6 col-md-3">
            <%= image_tag 'http://placehold.it/250x250' %>
            <p>logo</p>
          </div>
          <div class="col-xs-6 col-md-3">
            <%= image_tag 'http://placehold.it/250x250' %>
            <p>logo</p>
          </div>
          <div class="col-xs-6 col-md-3">
            <%= image_tag 'http://placehold.it/250x250' %>
            <p>logo</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-md-3">
            <%= image_tag 'http://placehold.it/250x250' %>
            <p>logo</p>
          </div>
          <div class="col-xs-6 col-md-3">
            <%= image_tag 'http://placehold.it/250x250' %>
            <p>logo</p>
          </div>
          <div class="col-xs-6 col-md-3">
            <%= image_tag 'http://placehold.it/250x250' %>
            <p>logo</p>
          </div>
          <div class="col-xs-6 col-md-3">
            <%= image_tag 'http://placehold.it/250x250' %>
            <p>logo</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="contact" class="l-hero">
  <div class="container">
    <h2>Connect with us</h2>
  </div>
</div>

<div class="container padding-md">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <ul id="ezt-2" class="ezt-nav l-contact-tabs">
        <li>
          <a href="javascript:void(0);" class="ezt-active">GENERAL<br>INQUIRIES</a>
        </li>
        <li>
          <a href="javascript:void(0);">PROMOTIONAL<br>INQUIRIES</a>
        </li>
        <li>
          <a href="javascript:void(0);">MEDIA<br>INQUIRIES</a>
        </li>
      </ul>
      <div id="ezt-2">
        <section class="ezt-content ezt-active">
          <form>
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <input type="text" placeholder="Name">
              </div>
              <div class="col-xs-12 col-sm-6">
                <input type="email" placeholder="Email">
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <input type="number" placeholder="Phone">
              </div>
              <div class="col-xs-12 col-sm-6">
                <select>
                  <option>Location</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <textarea placeholder="Whats going on."></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <input type="submit" value="Submit">
              </div>
              <div class="col-xs-12 col-sm-6">
                <input type="reset" value="Reset">
              </div>
            </div>
          </form>
        </section>
        <section class="ezt-content">
          second section
        </section>
        <section class="ezt-content">
          third section
        </section>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="l-contact">
        <%= image_tag 'colored-logo.png' %>

        <h5>MAIL</h5>
        <p>
          Po Box xxx<br>
          Fresno, Ca 93702
        </p>
        <h5>CALL US</h5>
        <p>
          1 (800) xxx-xxxx
        </p>
      </div>
    </div>
  </div>
</div>

<!--
Add the code below to the bottom of your page, just before the closing </body> tag.
Edit myLatlng and the other variables.

Find syntax for Features that can be styled here:
https://developers.google.com/maps/documentation/javascript/reference#MapTypeStyleFeatureType

Or use a service such as:

http://software.stadtwerk.org/google_maps_colorizr/#
http://gmaps-samples-v3.googlecode.com/svn/trunk/styledmaps/wizard/index.html
https://developers.google.com/maps/documentation/javascript/tutorial
-->

<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
  // map stuff

  var bittersMap = (function () {
    var myLatlng = new google.maps.LatLng(59.342457, 18.057340),
        mapCenter = new google.maps.LatLng(59.340458, 18.057340),
        mapCanvas = document.getElementById('map_canvas'),
        mapOptions = {
          center: mapCenter,
          zoom: 13,
          scrollwheel: false,
          draggable: true,
          disableDefaultUI: true,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        },
        map = new google.maps.Map(mapCanvas, mapOptions),
        contentString =
          '<div id="content">'+
          '<div id="siteNotice">'+
          '</div>'+
          '<h1 id="firstHeading" class="firstHeading">thoughtbot</h1>'+
          '<div id="bodyContent"'+
          '<p>Sveavägen 98</p>'+
          '</div>'+
          '</div>',
        infowindow = new google.maps.InfoWindow({
          content: contentString,
          maxWidth: 300
        }),
        marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
          title: 'thoughtbot (Sweden)'
        });

    return {
      init: function () {
        map.set('styles', [{
          featureType: 'landscape',
          elementType: 'geometry',
          stylers: [
            { hue: '#ffff00' },
            { saturation: 30 },
            { lightness: 10}
          ]}
        ]);

        google.maps.event.addListener(marker, 'click', function () {
          infowindow.open(map,marker);
        });
      }
    };
  }());

  bittersMap.init();

  // scroll stuff 

  (function (jQuery) {
    jQuery.mark = {
      jump: function (options) {
        var defaults = {
          selector: 'a.scroll-on-page-link'
        };
        if (typeof options == 'string') {
          defaults.selector = options;
        }

        options = jQuery.extend(defaults, options);
        return jQuery(options.selector).click(function (e) {
          var jumpobj = jQuery(this);
          var target = jumpobj.attr('href');
          var thespeed = 700;
          var offset = jQuery(target).offset().top - 80;
          jQuery('html,body').animate({
            scrollTop: offset
          }, thespeed, 'swing');
          e.preventDefault();
        });
      }
    };
  })(jQuery);


  jQuery(function(){  
    jQuery.mark.jump();

    $( ".ezt-nav a" ).click(function() {
      var ezTarget = '#' + $(this).closest('ul').attr('id');
      var ezIndex = $(this).parent().index() + 1; 

      var currentlyActive = $(this).hasClass('ezt-active');

      if (!currentlyActive) {
        // update nav
        $(ezTarget + ' li a').removeClass('ezt-active');
        $(ezTarget + ' li:nth-child(' + ezIndex + ') a').addClass('ezt-active');
        //update content
        $(ezTarget + ' .ezt-content').removeClass('ezt-active');
        $(ezTarget + ' .ezt-content:nth-child(' + ezIndex + ')').addClass('ezt-active');
      }            
    });
  });

</script>


